/* Media
-----------------------------------------------------------------------------*/

@media screen and (min-width: 420px) {
    .schedule-planner .logo-container h1{
        font-size: 34px;
    }
    .schedule-planner .logo-container h1::after{
        margin-top: -48px;
        margin-right: -48px;
        width: 70px;
        height: 70px;
        background-size: 70px;
    }
    .schedule-planner .logo-container .logo {
        width: 60px;
        height: auto;
    }
}
@media only screen and (min-width: 600px) {
    .schedule-planner .logo-container h1{
        font-size: 44px;
    }
    .schedule-planner .logo-container h1::after{
        margin-top: -56px;
        margin-right: -60px;
        width: 86px;
        height: 86px;
        background-size: 86px;
    }
    .schedule-planner .logo-container .logo{
        width: 70px;
        height: auto;
    }
    .features .features-list li {
        width: 400px;
    }
    .integration picture{
        height: 76px;
        width: 76px;
    }

}

@media screen and (min-width: 750px){
    .schedule-planner .logo-container h1 {
        font-size: 50px;
    }
    .schedule-planner .logo-container h1::after{
        margin-top: -50px;
        margin-right: -56px;
        width: 80px;
        height: 80px;
        background-size: 80px;
    }
    .schedule-planner .logo-container .logo {
        width: 80px;
        height: auto;
    }
   
    .integration {
        
    max-width: 320px;
    }
    .features .features-list li {
        width: 250px;
    }
}
@media only screen and (min-width: 800px){
    .schedule-planner .logo-container h1 {
        font-size: 65px;
    }
    .schedule-planner .logo-container h1::after{
        margin-top: -50px;
        margin-right: -64px;
        width: 92px;
        height: 92px;
        background-size: 92px;
    }
    .schedule-planner .logo-container .logo {
        width: 90px;
        height: auto;
    }
    .integration picture{
        height: 80px;
        width: 80px;
    }
    .feedbacks .feedback {
    display: inline-block;
    max-width: 180px;
    vertical-align: top;
    margin-right: 40px;     
    }
    .feedbacks .feedback:last-of-type{
        margin-right: 0px;
    } 
    .footer{
        text-align: center;
    }
}
@media only screen and (min-width: 920px){
    .integration {
        max-width: 420px;
    }
    .features .features-list li{
        width: 320px;
    }
    
}
@media only screen and (min-width: 980px) {
    .schedule-planner .logo-container h1 {
        font-size: 76px;
    }
     
    .schedule-planner .logo-container .logo {
        width: 110px;
        height: auto;
    }
    .schedule-planner .logo-container h1::after{
        margin-top: -66px;
        margin-right: -70px;
        width: 114px;
        height: 114px;
        background-size: 114px;
    }
    
	.content-wrapper {
		margin-right: auto;
		margin-left: auto;
    }
    .feedbacks .feedback {
        max-width: 280px;
    }
    .footer .content-wrapper {
        margin-right: 60px;
    }
    .footer .content-wrapper form{
        display: inline-block;
    }

}


