/* Media
-----------------------------------------------------------------------------*/

@media screen and (min-width: 420px) {
    h1{
        font-size: 34px;
    }
}
@media only screen and (min-width: 600px) {
    h1{
        font-size: 44px;
    }
    
    .features .features-list li {
        width: 400px;
    }
    .integration picture{
        height: 76px;
        width: 76px;
    }

}

@media screen and (min-width: 750px){
    h1 {
        font-size: 50px;
    }
     .schedule-planner h1 .logo {
        width: 86px;
        height: auto;
    }
    .schedule-planner .badge-img img {
        visibility: visible;
    }
    .schedule-planner .badge-img {
        height: 70px;
        width: 70px;
        top: 30px;
        right: 90px;
    }
    .integration {
        
    max-width: 320px;
    }
    .features .features-list li {
        width: 250px;
    }
}
@media only screen and (min-width: 800px){
    h1 {
        font-size: 65px;
    }
     .schedule-planner h1 .logo {
        width: 90px;
        height: auto;
    }
    .schedule-planner .badge-img {
        height: 80px;
        width: 80px;
        top: 20px;
        right: 46px;
    }
    .integration picture{
        height: 80px;
        width: 80px;
    }
    .feedbacks .feedback {
    display: inline-block;
    max-width: 180px;
    vertical-align: top;
    margin-right: 40px;     
    }
    .feedbacks .feedback:last-of-type{
        margin-right: 0px;
    } 
    .footer{
        text-align: center;
    }
}
@media only screen and (min-width: 850px){
    .schedule-planner .badge-img {
        right: 100px;
    }
}
@media only screen and (min-width: 920px){
    .schedule-planner .badge-img {
        right: 136px;
    }
    .integration {
        max-width: 420px;
    }
    .features .features-list li{
        width: 320px;
    }
    
}
@media only screen and (min-width: 980px) {
    h1 {
        font-size: 76px;
    }
     .schedule-planner h1 .logo {
        width: 110px;
        height: auto;
    }
    .schedule-planner .badge-img {
        height: 90px;
        width: 90px;
        right: 80px;
    }
	.content-wrapper {
		margin-right: auto;
		margin-left: auto;
    }
    .feedbacks .feedback {
    max-width: 280px;
    }
    .footer .content-wrapper {
        margin-right: 60px;
    }
    .footer .content-wrapper form{
       display: inline-block;
    }

}


