/* Fonts
-----------------------------------------------------------------------------*/
@font-face {
    font-family: 'Myriad Pro';
    src: 
        local('Myriad Pro Regular'),
		  local('MyriadPro-Regular'),  
        url('fonts/myriadpro-regular.woff') format('woff'), 
        url('fonts/myriadpro-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: 
        local('Myriad Pro Bold'),
		  local('MyriadPro-Bold'),
        url('fonts/myriadpro-bold.woff') format('woff'), 
        url('fonts/myriadpro-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
/* basic
-----------------------------------------------------------------------------*/
html {
	height: 100%;
}
body {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
	width: 100%;
	height: 100%;
}
.wrapper {
	margin: 0 auto;
    min-width: 320px;
}
.content-wrapper {
	width: auto;
	display: block;
    max-width: 1000px;
    margin: 0 20px;
	text-align: center;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    padding: 0;
}
ul, h1, h2, h3 {
    margin: 0 auto;
}
h2 {
    font-size: 22px;
}

/* Wraper
-----------------------------------------------------------------------------*/
/* Header
-----------------------------------------------------------------------------*/
.header {
    width: auto;
    padding: 8px 0;
	background-image: url(../images/header-background.png);
}
/*.main-menu {
}*/

.main-menu .menu-list {
    text-align: center;
    padding: 0;
}
.main-menu  .menu-item{
	display: inline-block; 
    vertical-align: top;   
}
.main-menu .menu-list .menu-item a {
    color: #cdcdcd; 
    box-sizing: border-box;
    display: block;
    height: 1.5em;
    border-radius: 1em;
    padding: 0.2em 1em;
}
.main-menu .menu-list .menu-item a:hover, .main-menu .menu-list .menu-item.active a {
    color: #1c2023;
    background-color: #dbdbdb;
}
/* Content
-----------------------------------------------------------------------------*/
.content {
	padding: 0;
    color: #3e3e3e;
}
/* Schedule planner
-----------------------------------------------------------------------------*/
.schedule-planner {
    background-image: url(../images/shedule-planner-background.png);
}
.schedule-planner div.content-wrapper {
    margin: auto;
    position: relative;
    padding-top: 30px;
    background-position: center -100px!important;
    background: -webkit-radial-gradient(center, ellipse cover, rgba(241,241,241,1) 0%,rgba(241,241,241,0) 70%);
    background-repeat: no-repeat;
}

h1 {
    font-size: 28px;
    color: #983904;
    /*gradient and shadow*/
    background: -webkit-linear-gradient(#b37059, #522f21);
    /*! background: -webkit-linear-gradient(#b37059, #522f21); */
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 1px 0px rgba(141, 50, 0, 0.61), 0px 1px 0px rgba(255, 255, 255, 0);
    /*text-shadow: hsla(17, 39%, 55%, 0.4) 1px 2px 2px;*/
    text-align: center;
    display: inline-block;
}
.schedule-planner h1 .logo {
    width: auto;
    height: 50px;
    margin-right: 10px;
    vertical-align: bottom;
}
.schedule-planner .badge-img {
    width: 66px;
    height: 66px;
    position: absolute;
    margin-top: -33px;
    top: 0;
    right: 0;
}
.schedule-planner .badge-img img {
    width: auto;
    height: inherit;
    visibility: hidden;
}

.platforms .platforms-menu {
    display: block;
    margin: 0;
    padding:50px 0 50px;
}
.platforms .platforms-menu .menu-item {
    display: inline-block;
    vertical-align: top;
    padding: 0 10% 0 0;
}
.platforms .platforms-menu .menu-item:last-child {
    padding-right: 0; 
}
.platforms .platforms-menu a{
    position: relative;
    display: block;
    padding-top: 56px;
    color: #32353a;
}
.platforms .platforms-menu a:hover{
    color: #d65600;
}
.platforms .platforms-menu a::before {
    content: "";
    position: absolute;
	top: 0;
	left: 0;
	margin-left: 50%;
	transform: translateX(-50%);
	background: url(../images/bg_platforms.png) no-repeat;
}

.platforms .platforms-menu .iphone  a::before  {
    width: 25px;
	height: 42px;
	background-position: -29px 0;
}
.platforms .platforms-menu .iphone a:hover::before{
    background-position: -108px 0; 
}
.platforms .platforms-menu .ipad a::before{
    width: 37px;
    height: 49px;
    background-position: -22px -44px;
}
.platforms .platforms-menu .ipad a:hover::before{
    background-position: -101px -44px;
}
.platforms .platforms-menu .android a::before{
    width: 41px;
    height: 47px;
    background-position: -23px -95px;
}
.platforms .platforms-menu .android a:hover::before{
    background-position: -102px -95px;
}
.platforms .platforms-menu .kindle a::before{
    width: 31px;
    height: 45px;
    background-position: -24px -143px;
}
.platforms .platforms-menu .kindle a:hover::before{
    background-position: -103px -143px;
}


/* Application integration
-----------------------------------------------------------------------------*/
.application-integration {
    background: #f8f7f3 url(../images/features-top-line.png) repeat-x left -10px;
    padding: 20px 0 1px;
}

.application-integration div {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.application-integration h2 {
    color: #915542;
}
.integration {
    position: relative;
    max-width: 90%;
    display: inline-block;
    vertical-align: top;
    margin: 0 2% 0 0;
    text-align: left;
}
.integration picture {
    height: 72px;
    width: 72px;
    position: absolute;
    top: 0;
    left: 0;
}
.integration picture img {
    height: inherit;
    width: auto;
}
.integration p {
    margin-left: 100px;
    font-size: 14px;
}
.integration h2{
    margin-left: 100px;
    font-size: 22px;
}
/* Features
-----------------------------------------------------------------------------*/
.features {
    background-image: url(../images/features-background.png);
    color: #fff;
    font-size: 20px;
}
.features .features-list {
    display: block;
}
.features .features-list li {
    display: inline-block;
    width: 300px;
    height: 63px;
    padding: 0 0 0 86px;
    margin: 22px 0;
    background: no-repeat 0 center;
    vertical-align: top;
    text-align: left;
}

.features .features-list .security {
    background-image: url(../images/password.png);
}
.features .features-list .copy-paste {
    background-image: url(../images/copy-paste.png);
}
.features .features-list .repeat {
    background-image: url(../images/repeating.png);
}
.features .features-list .customize {
    background-image: url(../images/customizable.png);
}

/* Feedback 
-----------------------------------------------------------------------------*/
.feedbacks {
    background: #f8f7f3;
    position: relative;
    font-size: 16px;
    padding: 20px 0;
}
.feedbacks .feedback {
    display: block;
    text-align: left;
}
.feedbacks a {
    display: block;
    text-align: right; 
    margin-top: 10px;
    color: #8f4f35;
    font-weight: bold;
}
.feedbacks .read-more-link {
    position: absolute;
    font-size: 18px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    background: -webkit-linear-gradient(#a9a9a9, #909090, #666);
    -webkit-background-clip: background;
    -moz-background-clip: background;
    background-clip: backgroundt;
    height: 40px;
    width: 180px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-bottom: -22px;
    z-index: 2;
    white-space: nowrap;
    border: 2px solid #fff;
    border-radius: 30px; 
}

/* Footer
-----------------------------------------------------------------------------*/
.footer {
	margin: 0 auto;
	background: #393939  url(../images/feedback-bottom-line.png) repeat-x left -3px;
	position: relative;
    color: #c3c3c3; 
    padding-top: 50px;
}
.footer h3, .footer h2 {
    color: #dbdbdb;
    margin: 10px 0; 
    text-align: left;
}
.footer div {
    display: inline-block;
    vertical-align: top;
}

.footer .social-links {
    display: inline-block;
    vertical-align: baseline;
    margin-bottom: 24px;
    margin-right: 24px;

}
.footer .social-links .link-list {
    /*white-space: nowrap;*/
    font-size: 0;
    margin: 10px 0 0 0;
}
.footer .link-list .social-link {
    display: inline-block;
    width: 44px;
    height: 44px; 
    vertical-align: top;
    margin: 0 10px 0 0;
    background: url(../images/social-icons.png) no-repeat;
    cursor: pointer;
}

.footer .link-list .social-links a{
    display: block;
    text-indent: 100%;
    overflow: hidden;
}
.footer .link-list .email {
    background-position: 0 0;
}
.footer .link-list .twitter {
    background-position: 0 -44px;
}
.footer .link-list .facebook {
    background-position: 0 -88px;
}
.footer .link-list .linkedin {
    background-position: 0 bottom;
}
.footer .link-list .email:hover {
    background-position: right 0;
}
.footer .link-list .twitter:hover {
    background-position: right -44px;
}
.footer .link-list .facebook:hover {
    background-position: right -88px;
}
.footer .link-list .linkedin:hover {
    background-position: right bottom;
}
/* Footer Subscription
-----------------------------------------------------------------------------*/

.footer .subscription .subscribe-form {
    display: block;
    height: 48px;
    text-align: left;
}
.footer .subscription .label {
    display: block;
    font-size: 12px;
    margin-bottom: 5px; 
    text-align: left;
}
.footer .subscription .subscribe-form .mail-text {
    background-color: #0d0d0d;
    border: none;
    height: 26px;
    width: 150px;
}
.footer .subscription .subscribe-form .button-subscribe {
    height: 26px;
    width: 68px;
    border: 1px solid #1f1f1f;
    background-color: #21689d;
	background: -webkit-linear-gradient(#21689d, #184d73);
	border-radius: 3px;
	box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.25);
	color: #eaeaea;
    font-size: 12px;
    cursor: pointer;
}
.footer .partners {
    text-align: left;
    margin-left: 20px;
}
.footer .partners-links .link{
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 20px;
}
.copyright {
    width: 100%;
    text-align: center;
    border-top: #4e4e4e  solid 1px;
    box-shadow: 0 -1px 0 0 #2c2c2c;
    padding: 5px 0 11px 0;
}

